body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    /* max-width: */
    /* padding-left:  */
    /* padding-right:  */
    /* margin-left:  */
    /* margin-right: */

    {
            width: 1166px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
        }
}


.section {
    /* padding: 120px 0; */
    /* Відступи зверху і знизу по 120px */
}



.header {
    background: #fff;
    border-bottom: 1px solid;


    box-sizing: border-box;
}


.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Раздвигаем элементы */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
    /* Расстояние между логотипом и меню */
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */

}

.header-logo-color {
    color: #2e2f42;

}

.menu-list {
        display: flex;
        gap: 40px;
        /* Расстояние между пунктами меню */
        list-style: none;
        margin: 0;
        padding: 0;
    
}

.header-menu-item {
    /* padding: 24px 0; */

}

.header-menu-itemnext {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;


}

.header-menu-itemnext:hover,
.header-menu-itemnext:focus {
    color: #404bbf;
}

.address {
    
    display: flex;
    gap: 20px;
    font-style: normal;
}

.address-navigation {
    display: flex;
    margin-left: auto;
    gap: 40px;
        /* Устанавливаем расстояние между email и телефоном */
}

.address-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}











.section-blue {
    background: #2e2f42;
    /* padding: auto; */
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
}

.button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    /* margin: 0 auto; */

    /* border-radius: 4px; */
    padding: 16px 32px;
    /* width: 169px; */
    /* height: 56px; */
    min: width 169px;
    min: height 56px;

}


.button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    /* padding: 16px 32px; */

}

.button:hover,
.button:focus {
    background-color: #404BBF;
}





















.section-white {
    background-color: #FFFFFF
}

.subtitle-white-one {}

.section-white-navigation {
    
    display: flex;
    gap: 24px;

}

.section-white-item {
    
    flex-basis: calc( (100% - 72) / 4);

}


.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.white-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}



















.section-darkwhite {
    background: #f4f4fd;
}

.subtitle {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-darkwhite-navigation {
    
    display: flex;
    gap: 24px;

}

.section-darkwhite-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72) / 4);
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 162px;
    margin: 0 auto;
    /* margin-bottom: ; */
}

.section-darkwhite-txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
















.section-portfolio {}

.subtitle {
    text-transform: capitalize;
    max-width: 218px;
    margin: 0 auto;
    text-align: center;
}

.section-portfolio-navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.section-portfolio-item {
    
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
    /* margin: 10px; */
    /* box-sizing: border-box; */
        
}

.section-title-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-title-txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
















.footer {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* Для кольору логотипу */
}

.footer-logo-color {
    color: #f4f4fd;
    /* Колір для "Studio" */
}

.footer-txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}