body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


img {
    display: block;
    max-width: 100%;
    /* Чтобы картинка не выходила за границы родителя */
    height: auto;
    /* Сохраняет пропорции */
}

.container {
  
width: 1166px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
 
        
}


.section {
    /* padding: 120px 0; */
    /* Відступи зверху і знизу по 120px */
}



.header {
    background: #fff;
    border-bottom: 1px solid;

    border-bottom: 1px solid #e7e9fc;
    box-sizing: border-box;
}


.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 15px;

    width: 1158px;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
   
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  
    margin-right: 76px

}

.header-logo-color {
    color: #2e2f42;

}

.menu-list {
    display: flex;
    gap: 40px;
        
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.header-menu-item {
     padding: 24px 0; 

}

.header-menu-itemnext {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;


}

.header-menu-itemnext:hover,
.header-menu-itemnext:focus {
    color: #404bbf;
}

.address {
    
    display: flex;
    gap: 20px;
    font-style: normal;
}

.address-navigation {
    display: flex;
    margin-left: auto;
    gap: 40px;
    
}

.address-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}



    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */

    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* padding: 0 15px; */

    /* width: 1158px; */











.section-blue {
    background: #2e2f42;
    padding: 188px 0
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
}

.button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    
    display: block;
    margin: 0 auto;

    min-width: 169px;


    padding: 16px 32px;

    border-radius: 4px;

  
    min: width 169px;
    min: height 56px;

}


.button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    /* padding: 16px 32px; */

}

.button:hover,
.button:focus {
    background-color: #404BBF;
}





















.section-white {
    background-color: #FFFFFF;
    padding: 120px 0;
   
}



.section-white-navigation {
    
    display: flex;
    gap: 24px;

}

.section-white-item {
    
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;

}


.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;

    text-align: center;
    
}

.white-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;

    text-align: center;
}






.white-hero {
    display: flex;
    gap: 24px;
    width: calc((100% - 3 * 24px) / 4);
    
   
    flex-direction: column;
    align-items: center;
    padding: 20px;
}














.section-darkwhite {
    background: #f4f4fd;
    /* padding: 120px 0; */
    padding-top: 120px;
    padding-bottom: 120px;


    
}

.subtitle {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    text-align: center;
       
    margin-bottom: 72px;
      

    /* width: calc((100% - 72px) / 4) */
}

.section-darkwhite-navigation {
    
    display: flex;
    gap: 24px;
    justify-content: center;

}

.section-darkwhite-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
   
    
    text-align: center;
    padding: 32px 16px;
        
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 162px;
    margin: 0 auto;
    /* margin-bottom: 72px; */
    text-align: center;
    margin-bottom: 8px;


    /* line-height: 1.2; */
    /* margin-bottom: 4px; */
}

.section-darkwhite-txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
    /* margin-bottom: 32px; */
    /* margin-bottom: 0; */
}

.section-darkwhite-hero {

    width: calc((100% - 72px) / 4);
    /* padding: 32px 0 */

    /* padding-top: 32px; */
    display: flex;
        
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px 0 32px;
        

}
    























.section-portfolio {

    padding-top: 120px;
    padding-bottom: 120px;
}

.subtitle {
    text-transform: capitalize;
    max-width: 218px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
}

.section-portfolio-navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.section-portfolio-item {
    
    flex-basis: calc((100% - 48px) / 3);
        
}

.section-title-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px
}

.section-title-txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


.section-portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.portfolio-text-container {


width: calc((100% - 48px) / 3);
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;

}












.footer {
    background: #2e2f42 ;
    padding: 100px 0;

} 

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* Для кольору логотипу */
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
    /* Колір для "Studio" */
}

.footer-txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}